<page xmlns="http://projectmallard.org/1.0/"
	type="topic" style="task"
	id="translate">

  <info>
   <link type="guide" xref="index#get-involved"/>
   <desc>Localize the <app>Image Viewer</app></desc>
    <revision pkgversion="3.4" version="0.1" date="2012-03-08" status="final"/>
    <credit type="author copyright">
      <name>Tiffany Antopolski</name>
      <email>tiffany.antopolski@gmail.com</email>
      <years>2011</years>
    </credit>
     <credit type="editor">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
    </credit>
    <license>
       <p>Creative Commons Share Alike 3.0</p>
     </license>
  </info>

<title>Help translate</title>
<p>
  The <app>Image Viewer</app> user interface and documentation is being translated by a world-wide volunteer community.  You are welcome to participate.
</p>
<p>
 There are <link href="https://l10n.gnome.org/module/eog/">many languages</link> for which translations are still needed.
</p>
<p>
To start translating you will need to <link href="https://l10n.gnome.org">create an account</link> and join the <link href="https://l10n.gnome.org/teams/">translation team</link> for your language. This will give you the ability to upload new translations.
</p>

<p>
  You can chat with GNOME translators using <link href="https://cbe003.chat.mibbit.com/?url=irc%3A%2F%2Firc.gnome.org%2Fi18n">irc</link>. People on the channel are located worldwide, so you may not get an immediate response as a result of timezone differences.
</p>
<p>Alternatively, you can contact the Internationalization Team using <link href="https://discourse.gnome.org/tag/i18n">GNOME Discourse</link>.
</p>
</page>
